.notification-container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 90%;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadbe6;
    border-radius: 12px;
    text-align: center;
    padding: 22px 10px;
}

.notification-container h1 {
    font-size: 1.1em;
}

.notification-container p {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 16px;
}

.notification-container button {
    padding: 7px 30px;
    font-size: 0.85em;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: rgba(125, 64, 231, 0.8);
    color: #fff;
    transition: background-color 0.4s ease;
}

.notification-container button:hover {
    background-color: rgba(125, 64, 231, 1);
}

@media (min-width: 1020px) {

    .notification-container {
        width: 400px;
    }
    
    .notification-container h1 {
        font-size: 1.1em;
    }
    
    .notification-container p {
        margin-top: 7px;
    }
    
    .notification-container button {
        font-size: 0.9em;
    }

}