.notes-empty {
    text-align: center;
    margin-top: 10px;
}

.notes-empty p {
    font-size: 0.9em;
    color: #727272;
}

.filter-container {
    text-align: right;
}

.filter-container p {
    font-size: 0.8em;
    color: #727272;
    margin-bottom: 5px;
}

.filter-container select {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    font-size: 0.9em;
    padding: 10px 0 10px 10px;
    color: #60666d;
    background-image: url('../../assets/images/arrow-select.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-color: #fff;
    background-size: 14px;
}

.notes-list {
    margin-top: 15px;
}

#empty-filter {
    text-align: center;
    margin-top: 40px;
    font-size: 0.85em;
    color: #60666d;
}


@media (min-width: 1020px) {

    .notes-empty {
        margin-top: 120px;
    }

    .filter-container {
        text-align: left;
    }

    .filter-container select {
        transition: box-shadow 0.4s ease;
    }

    .filter-container select:hover,
    .filter-container select:focus {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }

}
