@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body, input, button, textarea {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    background-color: #e5e6f0;
}

.App {
    /* outline: 1px solid blue; */
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-areas: "mobile-header"
                         "notes";
    align-items: flex-start;
}

.mobile-header-container {
    /* outline: 1px solid yellow; */
    display: flex;
    grid-area: mobile-header;
}

.sidebar-wrapper {
    /* outline: 1px solid red; */
    grid-area: sidebar-wrapper;
    display: none;
    margin-bottom: 30px;
}

.notes-container {
    /* outline: 1px solid green; */
    grid-area: notes;
}

@media (min-width: 520px) {

    .App {
        width: 500px;
    }

}

@media (min-width: 1020px) {

    .App {
        width: 1000px;
        margin: 50px auto;
        grid-template-columns: 40% 60%;
        grid-template-areas: "sidebar-wrapper notes";
    }

    .mobile-header-container {
        display: none;
    }

    .sidebar-wrapper {
        display: block;
        position: sticky;
        top: 50px;
        margin-bottom: 0;

    }

    .notes-container {
        width: 80%;
        margin: 0 auto;
    }

}